<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>AngularJs基于mvc</title>
		<script type="text/javascript" src="../js/angular.min.js"></script>
	</head>
	<body  ng-app="myapp" ng-controller="mycontro">
		<div>
			<!--ng-model模型作用-->
			<input type="text" name="name" ng-model="name"/><br />
			<!--添加点击事件：-->
			<input type="button" value="清空" ng-click="clearVal()" />
			
		</div>
		<div>
			<!--显示数据 {{}} 等价于ng-bind-->
			hello ，{{name}}
		</div>
	</body>
	<script type="text/javascript">
		//初始化myapp模块：
		var myapp = angular.module("myapp",[]);
		//定义模块的控制器
		//依赖注入 $scope作用域对象，操作当前作用域视图
		/*myapp.controller("mycontro",["$scope",function($scope){
			//对模型初始化赋值
			$scope.name="itcast";
			//清空模型数据：
			$scope.clearVal=function(){
				$scope.name="";
			};
		}]);*/
		myapp.controller("mycontro",function($scope){
			//对模型初始化赋值
			$scope.name="黑马程序员";
			//清空模型数据：
			$scope.clearVal=function(){
				$scope.name="";
			};
		});
		
	</script>
</html>
